@using Sway.Core.Models
@model ProfileDetailsViewModel
@{
    ViewData["Title"] = "My profile";
    var user = Model.User;
    var shippingAddress = Model.ShippingAddress;
    var billingAddress = Model.BillingAddress;
}

<partial name="_Notification" />

<div class="flex gap-4">
    <nav class="p-4 flex flex-col gap-4 w-[300px]">
        <div class="flex p-1 items-center gap-4">
            <div class="avatar">
                <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring ring-offset-2">
                    <img src="@user.PhotoUrl" alt="Profile image" />
                </div>
            </div>
            <div>
                <p class="font-bold">@user.Username</p>
                <a><i class="bi bi-pencil-fill"></i> Edit profile</a>
            </div>
        </div>
        <a class="block">Account</a>
        <a class="block" asp-action="Addresses">- Addresses</a>
        <a class="block">Purchase History</a>
        <a class="block">Notifications</a>
        <a class="block">Vouchers</a>
    </nav>

    <div class="resize-x bg-gray-50">
        <div class="p-4 border-b border-solid border-white">
            <h1 class="text-3xl font-bold">My Account</h1>
            <p>Manage the account information</p>
        </div>
        <form asp-action="Index">
            <input hidden name="userId" value="@user.Id" />
            <div>
                <div class="mb-8 p-4">
                    <div class="flex items-center gap-4 mb-2">
                        <div class="w-32 text-right">
                            <label for="username" class="block">Username</label>
                        </div>
                        <div>
                            <input class="input input-bordered" name="username" value="@user.Username" />
                        </div>
                    </div>

                    <div class="flex items-center gap-4 mb-2">
                        <div class="w-32 text-right">
                            <label for="firstname" class="block">First Name</label>
                        </div>
                        <div>
                            <input class="input input-bordered" name="firstname" value="@user.FirstName" />
                        </div>
                    </div>

                    <div class="flex items-center gap-4 mb-2">
                        <div class="w-32 text-right">
                            <label for="lastname" class="block">Last name</label>
                        </div>
                        <div>
                            <input class="input input-bordered" name="lastname" value="@user.LastName" />
                        </div>
                    </div>

                    <div class="flex items-center gap-4 mb-2">
                        <div class="w-32 text-right">
                            <label for="phone" class="block">Phone</label>
                        </div>
                        <div>
                            <input class="input input-bordered" name="phone" value="@user.Phone" />
                        </div>
                    </div>

                    <div class="flex items-center gap-4 mb-2">
                        <div class="w-32 text-right">
                            <label for="email" class="block">Email</label>
                        </div>
                        <div>
                            <input class="input input-bordered" name="email" type="email" value="@user.Email" />
                        </div>
                    </div>

                    <div class="flex items-center gap-4 mb-2">
                        <div class="w-32 text-right">
                            <label for="description" class="block">Description</label>
                        </div>
                        <div>
                            <textarea name="description" class="textarea textarea-bordered" placeholder="Bio">@user.Description</textarea>
                        </div>
                    </div>

                    <p>Status: @user.Status</p>
                </div>
            </div>
            <div class="flex gap-4 my-2">
                <button class="btn">Save</button>
            </div>
        </form>
    </div>
</div>

