@using Sway.Core.Models
@model ProfileDetailsViewModel
@{
    ViewData["Title"] = "My profile";
    var user = Model.User;
    var shippingAddress = Model.ShippingAddress;
    var billingAddress = Model.BillingAddress;
}

<div class="p-4 border-b border-solid border-white">
    <h1 class="text-3xl font-bold">My Account</h1>
    <p>Manage the account information</p>
</div>
<form asp-action="Index">
    <input hidden name="userId" value="@user.Id" />
    <div>
        <div class="mb-8 p-4">
            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="username" class="block">Username</label>
                </div>
                <div>
                    <input class="input input-bordered" name="username" value="@user.Username" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="firstname" class="block">First Name</label>
                </div>
                <div>
                    <input class="input input-bordered" name="firstname" value="@user.FirstName" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="lastname" class="block">Last name</label>
                </div>
                <div>
                    <input class="input input-bordered" name="lastname" value="@user.LastName" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="phone" class="block">Phone</label>
                </div>
                <div>
                    <input class="input input-bordered" name="phone" value="@user.Phone" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="email" class="block">Email</label>
                </div>
                <div>
                    <input class="input input-bordered" name="email" type="email" value="@user.Email" />
                </div>
            </div>

            <div class="flex items-center gap-4 mb-2">
                <div class="w-32 text-right">
                    <label for="description" class="block">Description</label>
                </div>
                <div>
                    <textarea name="description" class="textarea textarea-bordered" placeholder="Bio">@user.Description</textarea>
                </div>
            </div>

            <p>Status: @user.Status</p>
        </div>
    </div>
    <div class="flex gap-4 my-2">
        <button class="btn">Save</button>
    </div>
</form>
    
