@using Sway.Common
@using Sway.Core.Dtos
@using System.Linq
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var cartItems = Model.CartItems.ToArray();
    var shippingAddress = Model.ShippingAddress;
    var totalCost = cartItems.Where(x => x.IsSelected).Sum(x => x.UnitPrice * x.Quantity);
}

<h1 class="text-xl font-bold mb-4">Checkout</h1>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <table class="table">
        <thead>
            <tr>
                <th>Products Ordered</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cartItems)
            {
                <tr>
                    <td>
                        <div class="flex gap-1">
                            <div class="w-10 h-10">
                                <figure>
                                    <img
                                        src="@Constants.TestItemPhotoUrl"
                                        alt="Shoes"
                                    />
                                </figure>
                            </div>
                            <div>
                                <p class="font-bold text-xl">@item.ProductName</p>
                                <p>@item.ProductDescription</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        @item.UnitPrice.ToMoney("RM")
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @((item.UnitPrice * item.Quantity).ToMoney("RM"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="flex justify-between border-t border-solid border-gray-100">
        <div>
            @cartItems.Length Items
        </div>
        <div class="text-3xl font-bold text-orange-400">
            @totalCost.ToMoney("RM")
        </div>
    </div>
</div>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <p>Shipping Address</p>

    <p>@shippingAddress.ToString()</p>
    @* <p>Billing Address</p> *@
</div>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <p>Voucher / Discount</p>

    <p>No vouchers applied</p>
</div>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <p>Payment Method</p>

    <p>Cash on Delivery</p>
</div>

<div class="flex justify-end">
    <a class="btn btn-primary">Submit Order</a>
    <a class="btn btn-ghost" asp-action="Index" asp-controller="ShoppingCart">Cancel</a>
</div>

