@using Sway.Common
@using Sway.Core.Dtos
@using System.Linq
@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    var cartItems = Model.CartItems.ToArray();
    var addresses = Model.Addresses;
    var paymentMethods = Model.PaymentMethods;

    // Don't need to filter by x.IsSelected as at this stage, all products are selected
    var totalCost = cartItems.Sum(x => x.UnitPrice * x.Quantity);
}

<h1 class="text-xl font-bold mb-4">Checkout</h1>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <table class="table">
        <thead>
            <tr>
                <th>Products Ordered</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in cartItems)
            {
                <tr>
                    <td>
                        <div class="flex gap-1">
                            <div class="w-10 h-10">
                                <figure>
                                    <img
                                        src="@Constants.TestItemPhotoUrl"
                                        alt="Shoes"
                                    />
                                </figure>
                            </div>
                            <div>
                                <p class="font-bold text-xl">@item.ProductName</p>
                                <p>@item.ProductDescription</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        @item.UnitPrice.ToMoney("RM")
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @((item.UnitPrice * item.Quantity).ToMoney("RM"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="flex justify-between border-t border-solid border-gray-100">
        <div>
            @cartItems.Length Items
        </div>
        <div class="text-3xl font-bold text-orange-400">
            @totalCost.ToMoney("RM")
        </div>
    </div>
</div>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <div class="flex gap-1 items-center">
        <div>Shipping Address</div>
        <div>
            <button onclick="selectAddressPopup.show()">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
    </div>

    <p id="selected-address">@addresses.First(x => x.IsDefault).ToString()</p>
    @* <p>Billing Address</p> *@
</div>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <p>Voucher / Discount</p>

    <p>No vouchers applied</p>
</div>

<div class="border border-solid border-gray-100 p-4 mb-4">
    <div class="flex gap-1 items-center">
        <div>Payment Methods</div>
        <div>
            <button onclick="selectPaymentPopup.show()">
                <i class="bi bi-pencil-square"></i>
            </button>
        </div>
    </div>

    <p id="selected-payment">@paymentMethods.First(x => x.IsDefault).ToString()</p>
</div>

<div class="flex justify-end">
    <a class="btn btn-primary">Submit Order</a>
    <a class="btn btn-ghost" asp-action="Index" asp-controller="ShoppingCart">Cancel</a>
</div>

<dialog id="selectPaymentPopup" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <ul>
            @foreach (var method in paymentMethods)
            {
                <li>
                    <button class="btn btn-accent" onclick="return selectPaymentMethod('@method.Id')">
                        @method.ToString()
                    </button>
                </li>
            }
        </ul>
    </div>
</dialog>

<dialog id="selectAddressPopup" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>

        <ul>
            @foreach (var address in addresses)
            {
                <li>
                    <button class="btn btn-accent" onclick="return selectAddress('@address.Id')">
                        @address.ToString()
                    </button>
                </li>
            }
        </ul>
    </div>
</dialog>

@section Scripts {
    @{await Html.RenderPartialAsync("_LibraryScriptsPartial");}

    <script type="text/javascript">
        function selectPaymentMethod(id) {
            $('#selected-payment').text(id);
            var updatePaymentPopup = document.getElementById("selectPaymentPopup");
            updatePaymentPopup.close();
        }

        function togglePaymentMethodDialog() {
            $('#selectPaymentPopup').toggle();
        }

        function selectAddress(id) {
            $('#selected-address').text(id);
            var updateAddressPopup = document.getElementById("selectAddressPopup");
            updateAddressPopup.close();
        }

        function toggleAddressDialog() {
            $('#selectAddressPopup').toggle();
        }
    </script>
}

